{% extends "publicweb/base_pledges_page.html" %}
{% block google_maps_api %}
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALEOA6yvsJ4_hnSRp0su5u8OHhqyM9Ccg&sensor=false">
    </script>
{% endblock %}
{% block main_content %}

<div class="row">
<div class="col-md-9">
    <h1>All Pledges</h1>
<ol class="list-group">
    <li class="list-group-item">
        <h4 class="list-group-item-heading"><li class="fa fa-star"></li> Total Pledges <li class="fa fa-star"></li> </h4>
        <p class="lis-group-item-text">
        Users of this application have made {{ total_pledges }} pledges. If all these pledges are completed this will result in estimated energy savings of {{ total_reduction }} kWh per year!
        </p>
    </li>
    <li class="list-group-item">
        <h4 class="list-group-item-heading"><li class="fa fa-users"></li> Most popular pledge <li class="fa fa-users"></li> </h4>
        <p class="lis-group-item-text">
        {% if total_pledges %}The most popular pledge is <a href="{% url 'measure' measure_pledge_counts.0.id %}">{{ measure_pledge_counts.0 }}</a>.{% else %} There have been no pledges made yet {% endif %}
        </p>
    </li>
</ol>

    <h3> Pledges Map </h3>
    <p>Below you can see the different pledges made across Bristol. Click on a tree to view the details of a pledge.</p>
    <div id="map-canvas"></div>

    <br>
    {% include "publicweb/pledge_progress_list.html" %}

</div>
<div class="col-md-3">
    <h3>Popular pledges</h3>
    {% include "publicweb/pledge_totals_table.html" %}
</div>
</div>

{% endblock main_content %}