{% extends "publicweb/base_offset.html" %}
{% block main_content %}
{% load publicweb_filters %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-10">
            <h1>Welcome {{user}}</h1>
<!--            <a href="{% url 'dwelling_form' %}">My Home</a> <br>
             <a href="{% url 'possible_measures' %}">Possible Measures</a>
p -->            

            {% include "publicweb/pledge_progress_list.html" %}
            <h2> Measures</h2>

            {% if user_measures %}
            <h4>Information from CSE's Housing Assessment Tool</h4>
            <table id="sortable-measures-table" class="table tablesorter">
            <thead>
            <tr>
              <th> Measure</th>
              <th>Energy Consumption Reduction (kWh)</th>
              <th>Annual cost reduction</th>
              <th>Approximate installation costs</th>
              <th>Payback time (years)</th>
              <th>Green deal?</th>
              <th>Eco Finance?</th>
            </tr>
            </thead>
            <tbody>
            {% for k, m in user_measures.iteritems %}
            {% if m.hat_results %}
              <tr>
                <td><a href="{% url 'measure' k %}">{{ m.measure_name }}</a></td>
                <td>{{ m.hat_results.consumption_change|round_to_nearest_10 }}</td>
                <td>£{{ m.hat_results.annual_cost_reduction|round_to_nearest_10 }}</td>
                <td>£{{ m.hat_results.approximate_installation_costs|round_to_nearest_10 }}</td>
                <td>{{ m.payback_time_estimate }}</td>
                <td><span class="{{ m.hat_results.grean_deal|boolean_to_glyphicon }}"></span><p class="boolean-hidden-text">{{ m.hat_results.grean_deal}}</p></td>
                <td><span class="{{ m.hat_results.eco_finance|boolean_to_glyphicon }}"></span><p class="boolean-hidden-text">{{ m.hat_results.eco_finance}}</p></td>
              </tr>
            {% endif %}
            {% endfor %}
            </tbody>
            </table>
            {% endif %}

            </div>
            <div class="col-md-2">
            <a class="btn btn-success" href="{% url 'dwelling_form' %}">Update home.</a>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}