{% extends "publicweb/base_offset.html" %}
{% block main_content %}
{% load publicweb_filters %}

<div class="row clearfix">
    <div class="col-md-12 column">
        <div class="row clearfix">
            <div class="col-md-10">
            <h1>Welcome {{user}}</h1>
<!--            <a href="{% url 'dwelling_form' %}">My Home</a> <br>
             <a href="{% url 'possible_measures' %}">Possible Measures</a>
p -->            

            {% include "publicweb/pledge_progress_list.html" %}
            <h2>Possible Measures</h2>

            {% if user_measures %}
            <h4>Information from CSE's Housing Assessment Tool</h4>
            <h5>The table below shows estimated savings for a range of energy saving measures based on a tool made by the centre for sustainable energy. The figures information be used as a guideline to compare different measures. To view the full list of energy efficiency measures click <a href="{% url 'general_measures' %}">here</a>. </h5>
            <table id="sortable-measures-table" class="table tablesorter">
            <thead>
            <tr>
              <th> Measure</th>
              <th>Energy Consumption Reduction (kWh)</th>
              <th>Annual cost reduction</th>
              <th>Approximate installation costs</th>
              <th>Payback time (years)</th>
              <th>Annual return on investment</th>
              <th>Green deal?</th>
             <!--  <th>Eco Finance?</th> -->
            </tr>
            </thead>
            <tbody>
            {% for k, m in user_measures.iteritems %}
            {% if m.hat_results %}
              <tr>
                <td><a href="{% url 'measure' k %}">{{ m.measure_name }}</a></td>
                <td>{{ m.hat_results.consumption_change|round_to_nearest_10 }}</td>
                <td>£{{ m.hat_results.annual_cost_reduction|round_to_nearest_10 }}</td>
                <td>£{{ m.hat_results.approximate_installation_costs|round_to_nearest_10 }}</td>
                <td>{{ m.payback_time_estimate }}</td>
                <td>{{ m.percentage_return_on_investment }}%</td>
                <td><span class="{{ m.hat_results.grean_deal|boolean_to_glyphicon }}"></span><p class="boolean-hidden-text">{{ m.hat_results.grean_deal}}</p></td>
                <!-- <td><span class="{{ m.hat_results.eco_finance|boolean_to_glyphicon }}"></span><p class="boolean-hidden-text">{{ m.hat_results.eco_finance}}</p></td> -->
              </tr>
            {% endif %}
            {% endfor %}
            </tbody>
            </table>
            
            {% else %}
            <p>We need some more information to calculate the effect of different retrofit measures. Click <a href="{% url 'dwelling_form' %}">here</a> to provide more information or <a href="{% url 'general_measures' %}">view all measures</a>. (If you are reading this and have alreaday filled out all fields marked with a <b>*</b> for your home then unfortunately we are not able to predict energy savings for your home.)</p>
            {% endif %}

            </div>
            <div class="col-md-2">
            <div class="btn-group-vertical">
            <a class="btn btn-success" href="{% url 'dwelling_form' %}">Update home</a>
            <a class="btn btn-success" href="{% url 'general_measures' %}">View all measures</a>
            <a class="btn btn-success" href="{% url 'my_pledges' %}">My Pledges</a>
            {% if dwelling and dwelling.area %}<a class="btn btn-success" href="{% url 'pledges_for_area' dwelling.area.postcode_district %}">My Area</a>{% endif %}
            <br>
            <p>
            {% if eco_eligible %}
              {% if eco_eligible == 'unknown' %}
                We do not have any information on ECO funding for your postcode.
              {% elif eco_eligible == 'postcode_unknown' %}
                As you have not provided your postcode, we cannot check whether you live an area which is eligible for ECO funding.
              {% else %}
                Based on your postcode, it looks like you live in an area which is eligible for ECO (Energy Company Obligation) funding. 
              {% endif %}
            {% else %}
                Based on your postcode, it does not look like you live in an area which is eligible for ECO (Energy Company Obligation) funding.
            {% endif %}
            </p>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}