{% extends "publicweb/form_base.html" %}

{% block header %} Your Home {% endblock %}
{% block helptext %}<p>Please fill in as much of this form as you can. All fields are optional so if you're not sure of a value just leave it blank for now.</p>{% endblock helptext %}
{% block form_error_message %}Sorry, something went wrong{% endblock %}
{% block field_logic %}
{% if field.label == "Electricity supplier" %}
<div class="row">
<div class="col-sm-offset-3 col-sm-6">
<p>The fields below will help us try and predict the effect of different energy saving measures.</p></div>
</div>
{% endif %}
{% endblock field_logic %}
{% block cancel_button %}
    <a href="{% url 'profile' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
{% endblock %}
{% block submit_text %}Update{% endblock %}