{% extends "publicweb/base.html" %}
{% load publicweb_filters %}
{% load widget_tweaks %}
{% block content %}
<div class="container contentoffset">
  <div class="container contentoffset">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <h2>{% block header %}{% endblock %}</h2>
        <h4>{% block subheading %}{% endblock %}</h4>
        {% block helptext %}{% endblock %}
      </div> 
    </div>

    {% if form.errors %}
    <div class="row">
      <div class="col-sm-offset-2 col-sm-5 alert alert-info">
        <p>{% block form_error_message %}{% endblock %}</p> 
        {{ form.errors }}
        {% for e in form.errors %}
          {{ e }}
        {% endfor %}
      </div>
    </div>    
    {% endif %}
    <div class="row">
    {% block form_opening_tag %}
    <form class="form-horizontal" role="form" method="post">
    {% endblock form_opening_tag %}
    {% csrf_token %}
    {% for field in form %}
      {% if field.errors or form.non_field_errors and field.label|passwordfield %}
        <div class="form-group has-warning">
      {% elif form.errors %}
        <div class="form-group has-success">
      {% else %}
        <div class="form-group">
      {% endif %}
        <label class="col-sm-3 control-label" for="{{field.auto_id}}">{{field.label}}</label>
        <div class="col-sm-4">
          {% render_field field class+="form-control" %}
          {% for error in field.errors %}
          <p class="text-warning">{{error}}</p>
          {% endfor %}
        </div>
      </div>
      {% block field_logic %}{% endblock %}
    {% endfor %}
    <!--Passwords not matching-->
    {% if form.non_field_errors %}
      <div class="col-sm-offset-3 col-sm-4">
          {% for error in form.non_field_errors %}
          <p class="text-warning">{{error}}</p>
          {% endfor %}
        </div>
    {% endif %}  
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-6">
          {% block cancel_button %}
          {% endblock %}
          <button type="submit" class="btn btn-primary">{% block submit_text %}{% endblock %}</button>
          {% block button_help_text %}{% endblock %}
        </div>
      </div>
    </form>
    </div>
  </div>
  </div>
{% endblock content %}