{% extends "publicweb/form_base.html" %}
{% block title %}Filter Results{% endblock %}
{% block header %}Filter Results{% endblock %}
{% block cancel_button %}<a class="btn btn-success" href="{% url 'profile' %}">Back to Profile</a> {% endblock %}
{% block submit_text %}Filter Results{% endblock %}
{% block content_below_form %}
<div class="container">
<div class="col-md-10">
{% if user_measures %}
  {% include 'publicweb/hat_results.html' %}
{% else %}
<p>No results found. Maybe widen your search or have a look at <a href="{% url 'general_measures %}">other measures</a>.</p>
</div>

</div>
{% endblock content_below_form %}
