{% extends "publicweb/base_offset.html" %}
{% block title %}Bristol Groups{% endblock %}
{% block main_content %}
<div class="row"><div class="col-md-10">
{% for o in organisations %}

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <h3><a href="{{ o.website }}" target="_blank">{{ o.name }}</a></h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ o.logo.url }}" alt="{{ o.name }} logo" class="img-responsive">
      </div>
      <div class="col-md-8">
        {{ o.description }}
        <br>
        <a href="{{ o.website }}" target="_blank">{{ o.website }}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
</div> 
<div class="col-md-2">
    <h3>Need more help?</h3>
    <a href="{% url 'contact_form' %}" class="btn btn-success">Send us an email</a>

  </div>
{% endblock main_content %}