{% extends "publicweb/base_offset.html" %}
{% block main_content %}
{% for o in organisations %}
<div class="row">
  <div class="col-md-10">
    <div class="row">
      <h3><a href="{{ o.website }}">{{ o.name }}</a></h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="{{ o.logo.url }}" alt="{{ o.name }} logo" class="img-responsive">
      </div>
      <div class="col-md-6">
        {{ o.description }}
        <br>
        <a href="{{ o.website }}">{{ o.website }}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endblock main_content %}