{% extends "publicweb/base.html" %}

{% block content %}
    <div class="jumbotron center">
        <div class="container">
            <h1>
                Make your pledge!
            </h1>
            <p>
                Welcome to the Bristol Energy Network energy pledge system. Sign up to get energy recommendations for your home, find out about funding opportunities and more.
            </p>
            <p>
            <a class="btn btn-success btn-xlarge" href="accounts/register">Get Started</a>
            </p>
        </div>
    </div>
{% endblock content %}

