{% extends "publicweb/base_offset.html" %}
{% block main_content %}
{% load publicweb_filters %}

<!-- <div class="row clearfix">
    <div class="col-md-12 column"> -->
        <div class="row clearfix">
            <div class="col-md-10 column">
                <h1>{{measure.name}}</h1>
                {% if measure.measure_image_1 %}
                    <img src="{{ measure.measure_image_1.url }}" alt="Image of {{measure.name}}" class="img-responsive">
                {% endif %}
                {% if hat_info %}
                <h3> Predicted effect on your home calculated using CSE's Housing Assessment Tool</h3>
                <div class="table-responsive">
                <table class="table table-bordered">
<!--                   <tr>
                    <th rowspan="2">SAP Rating<br></th>
                    <th>Before</th>
                    <th>After</th>
                    <th>Change</th>
                  </tr>
                  <tr>
                    <td>{{ hat_info.current_sap_rating|round_to_nearest_integer }}</td>
                    <td>{{ hat_info.post_measure_sap_rating|round_to_nearest_integer }}</td>
                    <td>{{ hat_info.sap_change|round_to_nearest_integer }}</td>
                  </tr> -->
                  <tr>
                    <th rowspan="2">Energy Consumption<br></th>
                    <th>Before</th>
                    <th>After</th>
                    <th>Change</th>
                  </tr>
                  <tr>
                    <td>{{ hat_info.current_energy_consumption_kwh|round_to_nearest_10 }} kWh</td>
                    <td>{{ hat_info.post_measure_energy_consumption_kwh|round_to_nearest_10 }} kWh</td>
                    <td>{{ hat_info.consumption_change|round_to_nearest_10 }} kWh</td>
                  </tr>
                  <tr>
                    <th>Annual Cost Reduction<br></th>
                    <td colspan="3">£{{ hat_info.annual_cost_reduction|round_to_nearest_10 }}</td>
                  </tr>
                  <tr>
                    <th>Annual CO2 Emissions Reduction<br></th>
                    <td colspan="3">{{ hat_info.annual_co2_reduction|round_to_nearest_10 }} kgCO2</td>
                  </tr>
                  <tr>
                    <th>Approximate Installation Costs<br></th>
                    <td colspan="3">£{{ hat_info.approximate_installation_costs|round_to_nearest_10 }}</td>
                  </tr>
                  <tr>
                    <th>Green Deal Funding Likely?<br></th>
                    <td colspan="3">
                        <span class="{{ hat_info.grean_deal|boolean_to_glyphicon }}"></span>
                    </td>
                  </tr>
                  <tr>
                    <th>ECO Finance Likely?<br></th>
                    <td colspan="3">
                        <span class="{{ hat_info.eco_finance|boolean_to_glyphicon }}"></span>
                    </td>
                  </tr>
                  <tr>
                    <th>Payback Time Estimate<br></th>
                    <td colspan="3">{{ payback_time_estimate }} years</td>
                  </tr>
                 </table>
                </div>
                {% endif %}
                <h2>Measure Description</h2>

                {% autoescape off %}
                {{measure.description|linkify_urls}}
                {% endautoescape %}

                {% if not pledge and user.is_authenticated %}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Sound interesting?</h3>
                  </div>
                  <div class="panel-body">
                    <p>If you think this is something that you might be able to do in your home then consider making a pledge. If you do so, we'll alert you to any help that might be available with this measure in your area, and (optionally) send you occasional emails to see how you're getting on with implementing it.</p>

                    <p>Alternatively, you can register your interest in this measure. If you do this then we will alert you via email of potentially useful information relating to this measure such as bulk order discounts and new funding opportunities.

                    All communications will be kept to a minimum. </p>
                  </div>
                  <div class="panel-footer">

                      <form class="form" method="post" role="form" action="{% url 'make_pledge' %}">
                      {% csrf_token %}
                        <input type="hidden" name="measure_id" value="{{ measure.id }}">
                        <input type="hidden" name="hat_results_id" value="{{ hat_info.id }}">


                        <div class="checkbox">
                          <label for="interest_only">
                            Register interest only                 
                          </label>
                          <input id="123-interest-only" type="checkbox" name="interest_only" onchange="updatePledgeForm(this)">
                        </div>
                        <div id="pledge-form-elements">
                        <div class="form-group">
                      <label for="time_period">
                      How long do you think this pledge will take?
                      </label>
                        <input name="time_period" with="100%" type="text" class="span2" value="4" id="pledge-slider" data-slider-id="pledge-slider-c" data-slider-min="0" data-slider-max="18" data-slider-step="1" data-slider-value="3" >
                        <span id="duration-text">3 months </span>
                        </div>
                        <p class="help-block">Click and drag the blue slider to choose a time period</p>

                        <div class="checkbox">
                        <label for="receive_updates">
                        Tick this box to receive occasional updates and support about your pledge from us via email. <input type="checkbox" name="receive_updates">
                        </label>
                        </div>
                        </div>

                        <br>
                        <button type="submit" class="btn btn-primary">Pledge</button>
                      </form>
                  </div>
                </div>
                {% elif pledge %}
                <div class="panel panel-primary">
                  <div class="panel-heading">
                  <!-- Pledge.PLEDGE = 1 Pledge.INTEREST_ONLY = 2 - see models.py -->
                    <h3 class="panel-title">{% if pledge.pledge_type == 2 %}Pledged!{% else %}Interest registered{% endif %}</h3>
                  </div>
                  <div class="panel-body">
                    {% if pledge.pledge_type == 2 %}
                    You've pledged to undertake this measure, brilliant! Please don't hesitate to get in touch if you need any advice on implementing this energy saving measure.
                    <table class="table table-bordered">
                  <tr>
                    <th>Date Made<br></th>
                    <td> {{ pledge.date_made }}</td>
                  </tr>
                  <tr>
                    <th>Deadline</th>
                    <td>{{ pledge.deadline }}</td>
                  </tr>
                  <tr>
                    <th>Time Remaining</th>
                    <td>{{ time_remaining }}</td>
                  </tr>
                 </table>
                 {% elif pledge.pledge_type == 1 %}
                  You've registered your interest in this measure. We may contact you via email with information that may be relevant to you.
                 {% endif %}
                  </div>
                  <div class="panel-footer">
                    <div class="btn-group">
                    {% if pledge.pledge_type == 2 %}
                    <a href="{% url 'edit_pledge' pledge.id %}" class="btn btn-default"> Edit pledge</a>
                    {% endif %}
                    <a href="{% url 'help_page' %}" class="btn btn-default">Get Help/Contact</a>
                    <a href="{% url 'delete_pledge' pledge.id %}" class="btn btn-default">{% if pledge.pledge_type == 1 %}Remove{% else %}Cancel Pledge{% endif %}</a>
                    <br><br>
                </div>
                  </div>
                </div>
                {% endif %}

            </div>
            <div class="col-md-2 column">
              <div class="btn-group-vertical">
                <a href="{% url 'general_measures' %}" class="btn btn-success">Back to All Measures</a>
                <a href="{% url 'profile' %}" class="btn btn-success">Back to Profile</a>
              </div>
            </div>

        </div>
<!--     </div>
</div> -->

{% endblock main_content %}