{% extends "publicweb/base_offset.html" %}
{% block title %}Get Started{% endblock %}
{% block main_content %}
{% load publicweb_filters %}


<div class="row">
  <div class="col-md-10">
  <h1> Top tips for saving energy </h1>
  {% if top_tips %}

  <ol class="list-group">
    {% for t in top_tips %}
    <li class="list-group-item">
        <h4 class="list-group-item-heading"><li class="fa fa-sun-o"></li> {{ forloop.counter }} <li class="fa fa-sun-o"></li> {{ t.name }}</h4>
        <p class="lis-group-item-text">{% autoescape off %}{{ t.description|linkify_urls }}{% endautoescape %}</p>
    </li>
    {% endfor %}
    </ol>
  {% endif %}

    
  </div>
</div>

<div class="row">
<div class="col-md-10">
<p>To get started making pledges and to get some personalised information about suitable energy saving measures please <a href="/accounts/register">create an account</a> - it should only take a minute. Alternatively, you can view a list of all the different types of energy saving measures without creating an account. </p>

<a class="btn btn-success btn-xlarge" href="{% url 'general_measures' %}">What the energy saving home looks like</a>
  {% if user.is_authenticated %}
    <a class="btn btn-success btn-xlarge" href="{% url 'profile' %}">Personalised measures <p class="personalised-button-help-text">Based on the description of my home</p> </a>
  {% else %}
    <a class="btn btn-success btn-xlarge" href="/accounts/register/">Create Account</a>
  {% endif %}
</div>
</div>
{% endblock main_content %}