{% extends "publicweb/base_offset.html" %}
{% block main_content %}

<div class="row">
  <div class="col-md-10">
  <h1> Top tips for saving energy </h1>
  {% if top_tips %}

  <div class="row">
  <ol class="list-group">
    {% for t in top_tips %}
    <li class="list-group-item">
        <h4 class="list-group-item-heading"><li class="fa fa-sun-o"></li> {{ forloop.counter }} <li class="fa fa-sun-o"></li> {{ t.name }}</h4>
        <p class="lis-group-item-text">{{ t.description }}</p>
    </li>
    {% endfor %}
    </ol>
    </div>
  {% endif %}

    
  </div>
</div>

<div class="row">
<div class="col-md-10">
<p>You can either view a list of all the different energy saving measures available or provide some additional information so that we can advise as to the measures that might be most suitable for your home.</p>

<a class="btn btn-success btn-xlarge" href="{% url 'general_measures' %}">View full measures list</a>
    <a class="btn btn-success btn-xlarge" href="{% url 'dwelling_form' %}">Provide further information</a>
</div>
</div>
{% endblock main_content %}