<div class="panel panel-primary">
<div class="panel-heading">
  <h3 class="panel-title">{% if page_type == 'profile' %}Your pledges{% elif page_type == 'area' %} {{area}} pledges{% elif page_type == 'all_pledges' %}10 Most Recent Pledges{% endif %}</h3>
</div>
<div class="panel-body">
{% if not pledge_progress %}
  {% if page_type == 'profile'%}
  <p>You've not made any pledges yet. Have a look at the measures below to see what might be possible. </p>
  {% elif page_type == 'area' %}
  <p>No pledges have been made in this area yet.</p>
  {% elif page_type == 'all_pledges' %}
  <p>No pledges have been made yet.</p>
  {% endif %}
{% endif %}
{% for k, p in pledge_progress.iteritems %}
  <!-- INTEREST_ONLY = 1, PLEDGE = 2 - see models.py  -->
  {% if p.pledge.pledge_type == 2 %}
    {{ p.pledge.measure.name }} by {{p.pledge.deadline}} {% if page_type = 'area' or page_type == 'all_pledges' %} - {{p.pledge.user}} {% endif %} <span class="text-success">({{ p.savings }} kWh)</span>
  {% elif p.pledge.pledge_type == 1 %}
    You are interested in {{ p.pledge.measure.name }}
  {% endif %}
  
  <div class="btn-group pledge-btn-group">
  <a href="{% url 'measure' p.pledge.measure.id %}" class="btn btn-default">View Measure</a>
  {% if page_type == 'profile' %}
    <a href="{% url 'help_page' %}" class="btn btn-default">Get Help/Contact</a>
    <a href="{% url 'delete_pledge' p.pledge.id %}" class="btn btn-default">{% if p.pledge.pledge_type == 1 %}Remove{% else %}Cancel Pledge{% endif %}</a>
  {% endif %}
  </div>
  <br><br>
  <!-- INTEREST_ONLY = 1, PLEDGE = 2 - see models.py  -->
  {% if p.pledge.pledge_type == 2 %}
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{ p.time_progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{p.time_progress}}%;">
    <span></span>
    </div>
  </div>
  {% endif %}
  <hr>
{% endfor %}


</div>
{% if page_type != 'all_pledges' %}
<div class="panel-footer">
<h3> Total pledged reduction: {{ total_reduction }} kWh</h3>
</div>
{% endif %}
</div>