.center {
    text-align: center;
}

.btn-xlarge {
    padding: 18px 28px;
    font-size: 22px; 
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
}

body {
    background: url(../img/geometry.png) repeat 0 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

.contentoffset {
    padding-top: 10px;
}

.pledge-btn-group {
    float: right;
}

.boolean-hidden-text {
    display: none;
}

.home-list
{
    list-style-type: none;
}