{% extends "publicweb/form_base.html" %}

{% block header %} Reset Password {% endblock %}
{% block helptext %} <p>To reset your password, enter your email address into the box below and a password reset link will be emailed you you.</p> {% endblock %}
{% block form_error_message %}Sorry, something went wrong.{% endblock %}
{% block submit_text %}Reset Password{% endblock %}
{% block cancel_button %}
    <a href="{% url 'login' %}"><button type="button" class="btn btn-danger">Cancel</button></a>
{% endblock %}